* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    border: 1px solid black;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}   

.grid {
    display: flex;
    flex: 1 1 0;
}   

.square {
    border: 1px solid black ;
    flex: 1 1 0;
}

.hover { 
    background-color: grey;
    flex: 1 1 0;
}   

.createBoard {
    margin-bottom: 100px;
}

#sizeController {
    background-color: #0A95FF;
    color: white;
    padding: 8px;
    margin: 16px;
}